<div class="graph-container">
  <div class="chart1">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="lineChartType"
    ></canvas>
  </div>
  <div class="chart2">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="lineChartType"
    ></canvas>
  </div>
  <div class="chart3">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="lineChartType"
    ></canvas>
  </div>
  <div class="chart4">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="lineChartType"
    ></canvas>
  </div>
</div>
